---
title: "<< title | default('') >>"
author: "<< author | default('') >>"
banner_alt: "<< banner_alt | default('') >>"
changefreq: "<< changefreq | default('') >>"
charset: "<< charset | default('') >>"
layout: "<< layout | default('') >>"
locale: "<< locale | default('') >>"
news_genres: "<< news_genres | default('') >>"
twitter_card: "<< twitter_card | default('') >>"
twitter_creator: "<< twitter_creator | default('') >>"
site_software: "<< site_software | default('') >>"
date_pretty: "<< date_pretty | default('') >>"
description: "<< description | default('') >>"
---

<< body | default('') >>
